nav {
  width: 100vw;
  display: flex;
  justify-content: left;
  height: 70px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  img {
    height: 30px;
    padding-inline: 3rem;
  }
}
